{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is home page</h1>
            <p>Som text about home page.</p>
            <p><a href="/about">Go to about page</a></p>
        </div>
    </div>
</div>
{{end}}